<!Doctype html>
<html>
    <head>
        <title>BrainWave Book Compare</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            body
            {
                background-color: #a2a5aa;
            }
            .logo
            {
                margin-top:19%;
            }
            .main-content
            {
                margin-top:13%;
            }
            .search
            {
                background-color: #202020;
                color: white;
            }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>