{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'display.css' %}">

{% endblock %}



{% block content %}


<div id="generic_price_table">   
<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--PRICE HEADING START-->
                    <div class="price-heading clearfix">
                        <!--<h1>Compare Book Price</h1>-->
                        <img src="{{ image_1 }}" height='150px' width='150px';/><br>
                        <p class="text-center book-name">{{name}}</p><br>
                        <p class="text-center author-name">{{author}}</p><br>
                        
                        <hr>
                    </div>
                    <!--//PRICE HEADING END-->
                </div>
            </div>
        </div>
        <div class="container">
            
            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-6">
                
                	<!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>{{ store_1 }}</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">Rs</span>
                                    <span class="currency">{{ price_1 }}</span>
                                 
                                 
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                            	<li><span>{{ rating_1 }}</span> Rating</li>
                                <li><span>{{ review_1 }}</span> Sentiment</li>
                                <li><span>{{ delivery_1 }} days</span> Avg Delivery time</li>
                                <li><span>{{ sale_1 }}</span> Sales</li>
                                
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="{{ url_1 }}" target="blank">Buy Now</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                
                <div class="col-md-6">
                
                	<!--PRICE CONTENT START-->
                    <div class="generic_content active clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                            	<!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>{{ store_2 }}<small> - Recommended</small></span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">Rs</span>
                                    <span class="currency">{{ price_2 }}</span>
                               
                                   
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                        	<ul>
                                <li><span>{{ rating_2 }}</span> Rating</li>
                                <li><span>{{ review_2 }}</span> Sentiment</li>
                                <li><span>{{ delivery_2 }} days</span> Avg Delivery time</li>
                                <li><span>{{ sale_2 }}</span> Sales</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="{{ url_2 }}" target="blank">Buy Now</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                <div class="col-md-4">
                
                	<!--UNLIMITED
                    <div class="generic_content clearfix">
                        
                        HEAD PRICE DETAIL START
                        <div class="generic_head_price clearfix">
                        
                            HEAD CONTENT START
                            <div class="generic_head_content clearfix">
                            
                            	HEAD START
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Unlimited</span>
                                </div>
                                //HEAD END
                                
                            </div>
                            //HEAD CONTENT END
                            
                            PRICE START
                            <div class="generic_price_tag clearfix">	
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">299</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                            </div>
                            //PRICE END
                            
                        </div>                            
                        //HEAD PRICE DETAIL END
                        
                        FEATURE LIST START
                        <div class="generic_feature_list">
                        	<ul>
                            	<li><span>2GB</span> Bandwidth</li>
                                <li><span>150GB</span> Storage</li>
                                <li><span>12</span> Accounts</li>
                                <li><span>7</span> Host Domain</li>
                                <li><span>24/7</span> Support</li>
                            </ul>
                        </div>
                        //FEATURE LIST END
                        
                        BUTTON START
                        <div class="generic_price_btn clearfix">
                        	<a class="" href="">Sign up</a>
                        </div>
                        //BUTTON END
                        
                    </div>
                    //PRICE CONTENT END
                        
                </div>-->
            </div>	
            <!--//BLOCK ROW END-->
            
        </div>
    </section>
    <br>
    <hr>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h3 class="mb-5 text-center">Search Another Book!</h3>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form method="POST" action="/search/book/">

              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="text" class="form-control form-control-lg" name="bname" id="bname" placeholder="Enter Book Name | ISBN">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>             
	<footer>
    	<a class="bottom_btn" href="#">&copy;Buy A Book</a>
    </footer>
</div>

{% endblock %}